html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(131, 15, 240);
    font-family: sans-serif, Lora;
    color:rgb(255, 255, 255);
    line-height: 1.7;
}

header {
    background:linear-gradient(135deg,#031e36, #9b04fff8);
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 40px;
}

header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid #000000;
    object-fit: cover;
}

header h1 {
    margin: 15px 0 0 0;
    font-size: 34px;
    letter-spacing: 5px;

}

header p {
    margin: 8px 0 0 0;
    color:rgb(0, 0, 0)
}
  
nav {
    position: sticky;
    top: 0;
    background-color: #241b3d;
}

nav ul {        
    list-style: none;
    margin: 0;
    padding: 0;
    OVERFLOW: hidden;
    TEXT-ALIGN: center;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    color: #a54c4c;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color:rgb(192, 143, 143);
}

main {
    max-width: 700px;
    margin:auto;
    padding: 20px;
}

section {
    background-color: #241b3d;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

}

section hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

section h2 {
    color:rgb(255, 0, 51);
    border-bottom: 3px solid #241b3d;
    padding-bottom: 10px;
    letter-spacing: 1px;

}

section h3 {
    color:rgb(175, 41, 18);

#skills ul {
    list-style-type:none;
    padding: 0;
    text-align: center;
}

}   

li.skills {
    display:inline;
    background-color: #000000dc;
    color: #862a2a;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 6px 10px 0;
}

#prestasi & dedikasi ul {
    list-style-type:none;
    padding: 0;
    text-align: center;
}

li.prestasi {
    display:inline;
    background-color: #3505e4dc;
    color: #753939;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 6px 10px 0;
}

footer {
    background-color: #241b3d;
    color: #703b3b;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


